body {
    background-color: beige;
    color: #000000;
}

.logoRecode {
    width: 15%;
    height: 15%;
}

.button {
  background: #0080ff;
  border-radius: 10px;
  outline: 0;
  color: #ffffff;
  font-size: 26px;
}
.menu_style{
    background-color: transparent;
    color: white;
}

.full_container {
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100%;
}

th{
    width: 300px;
    background-color: burlywood;
}

.home1 {
    display: flex;
    justify-content: center;
}


body > table{
    width: 80%;
}


.title-register{
    margin-top:100px;
}


table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
